.container-aside{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-privacy-policy{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}